*{
    margin-top: 15px;
}

body {
    text-align: center;
}

table{
    margin-left: auto;
    margin-right: auto;
}

td {
    height: 40px;
    width: 40px;
    text-align: center;
    transition: all 2s;
}

td:hover {
    background-color: rgb(206, 147, 147);
}

.covered{
visibility: hidden;
}

footer {
    margin-top: 200px;
    bottom: 30px;
}