*{
    margin-top: 15px;
}

body {
    text-align: center;
}

table{
    margin-left: auto;
    margin-right: auto;
}

td {
    height: 40px;
    width: 40px;
    text-align: center;
    transition: all 2s;
}

td:hover {
    background-color: rgb(206, 147, 147);
}

.covered{
visibility: hidden;
}

footer {
    position: absolute;
    bottom: 15px;
    left:45%;
}

.game-indicators {
    margin: auto;
    width: 40%;
    justify-content: space-around;
    display: flex;  
    font-size: 25px;  
}

button {
    height: 40px;
    width: 100px;
    margin: 5px;
    background-color: yellow;
    border: black solid 2px;
    border-radius: 7px;
    font-size: 18px;
    opacity: 0.8;
    transition: opacity,border-radius, 0.3s;
}

.btn {
    background-color: lightseagreen;
}

button:hover {
    opacity:1;
}